@import '_media-mixin.scss';
@import 'background.css';

// @use '_fonts-size.scss';
:root {
    // solid
    --solid-purple: #48319d;
    --solid-dark-gray: #1F1D47;
    --solid-pink: #c427fb;
    --solid-gray: #E0D9FF;
    // linear
    --linear-black: linear-gradient(#2E335A 0%, #1C1B33 100%);
    --linear-purple: linear-gradient(#5936B4 0%, #362A84 100%);
    --linear-blue-pink: linear-gradient(90deg, #3658B1 0%, #C159EC 100%);
    --linear-light-dark-blue: linear-gradient(180deg, rgba(174, 201, 255, 1) 0%, rgba(174, 201, 255, 1) 55%, rgba(8, 48, 114, 1) 55%);
    --linear-active-btn: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    // radial
    --radial-bg-extra: radial-gradient(circle, rgba(69, 39, 139, 1) 0%, rgba(46, 51, 90, 1) 100%);
    --radial-pink: radial-gradient(#F7CBFD 0%, #7758D1 100%);
    // theme-dark
    --color-black: #000000;
    --color-primary: #FFFFFF;
    --color-secondary: rgba(235, 235, 245, 0.6);
    --color-tertiary: rgba(235, 235, 245, 0.3);
    --color-quaternary: rgba(235, 235, 245, 0.18);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF-Pro-Display--Semibold";
    color: var(--color-primary);
    height: 100vh;
}

.all-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out;
    width: 1170px;
    max-height: 720px;
}

.container {
    display: flex;
    justify-content: center;
}

.wrapper {
    height: 100vh;
}

// buttons = null

button {
    cursor: pointer;
    border: none;
    background-color: rgba($color: #000000, $alpha: 0);
}

// main

.main {


    width: 40%;


    @include _815 {
        width: 50%;
    }

    @include _720 {
        width: 100%;
    }

    &__background {
        background-image: url(../img/main-page/main-bacground.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;


        @include _720 {
            // overflow: auto;
            width: 100%;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-height: 720px;

        @include _480 {
            width: 100%;
        }
    }

    &__town {
        margin-top: 50px;
        transition: transform 0.5s ease-in-out;
    }

    &__temp{
        transition: transform 0.5s ease-in-out;
    }

    &__house-wrapper {
        width: 100%;
        position: relative;
    }

    &__house {
        width: 100%;
        transition: transform 0.3s ease-in-out;
    }

    &__house img {
        width: 350px;
        height: 373px;


        @include _720 {
            width: 480px;
            // height: auto;
            margin-bottom: -50px;
        }

        @include _480 {
            width: 100%;
        }
    }

    &__bar {
        position: relative;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-image: url(../img/main-page/bg-bar.png);
        background-repeat: no-repeat;
        background-size: 100%, auto;
        width: 100%;
        height: auto;
        margin-top: -25px;
        transition: transform 0.5s ease-in-out;
    }

    &__bar-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
}

.bar {
    &__plus {
        background-image: url(../img/main-page/bg-bar-plus.png);
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 152px;
        height: 83px;
    }

    &__side img {
        cursor: pointer;
        width: 18px;
        height: 23px;

    }

    &__plus img {
        cursor: pointer;
        height: auto;


        margin-top: -13px;
        width: 61px;

    }

    &__menu img {
        cursor: pointer;

        width: 18px;
        height: 23px;


    }

}

// forecast

.forecast {
    width: 60%;
    max-height: 720px;

    @include _815 {
        width: 50%;
    }

    @include _720 {
        width: 480px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -0%);
        transition: top 0.5s ease;
    }

    @include _480 {
        width: 100%;
    }

    &__background {
        @include _720 {
            opacity: 0.95;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        max-height: 720px;
    }

    // future

    &__future {
        height: auto;
        min-height: 250px;
        background: var(--linear-black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        position: relative;

        @include _720 {
            border-radius: 50px 50px 0 0;
        }
    }

    &__future-background-img1 {
        z-index: 0;
        position: absolute;
        left: 25%;
    }

    // blur
    &__future-background-img2 {
        position: absolute;
        top: -75%;
        right: 50%;
    }

    // blur


    &__future-button-up {
        display: none;
        justify-content: center;
        width: 100%;
        height: auto;

        @include _720 {
            display: flex;
        }
    }

    &__future-button-up button {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__future-button-up-shape {
        width: 48px;
        height: 5px;
        border-radius: 10px;
        margin: 10px;
        background-color: var(--color-black);
        opacity: 0.4;
    }

    &__future-buttons {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid;
        border-color: rgba($color: #FFFFFF, $alpha: .3);
        box-shadow: 0px 2px 0px rgba($color: #000000, $alpha: .2);

        margin-top: 20px;
        width: 300px;
        padding: 0 30px;
    }

    &__future-btn {
        border-bottom: 3px solid rgba($color: #000000, $alpha: .0);
        color: var(--color-secondary);
        padding-bottom: 2px;
        margin-bottom: -1px;
    }

    &__future-btn--active {
        border-bottom: 3px solid;
        border-image: var(--linear-active-btn);
        border-image-slice: 1;
    }

    &__future-cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: transform 0.5s ease-in-out;
        height: 100%;
        width: 100%;

    }

    &__future-cards-hourly {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-shrink: 0;

    }

    &__future-card {
        border: 1px solid rgba($color: #FFFFFF, $alpha: .2);
        background-color: rgba($color: var(--solid-purple), $alpha: .2);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 62px;
        height: 160px;
        border-radius: 30px;
        padding: 10px 0;

        @include _350 {
            width: 50px;
            height: 145px;
        }
    }

    &__future-card--highlighted {
        background-color: var(--solid-purple);
    }

    &__future-card-picture {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__future-card-picture img {
        margin-bottom: -5px;
        width: 40px;
    }

    // extra

    &__extra {
        background: var(--radial-bg-extra);
        padding: 20px 0;
        width: 100%;
        height: 100%;

        @include _910 {
            overflow: scroll;
        }
    }

    &__extra-wrapper {
        display: grid;
        justify-content: space-around;


        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(2, 150px);
        gap: 7px;


        @include _1100 {
            grid-template-columns: repeat(4, 140px);
            grid-template-rows: repeat(2, 140px);
        }

        @include _979 {
            grid-template-columns: repeat(4, 130px);
            grid-template-rows: repeat(2, 130px);
        }

        @include _910 {
            grid-template-columns: repeat(3, 150px);
            grid-template-rows: repeat(3, 150px);
        }

        @include _815 {
            grid-template-columns: repeat(2, 165px);
            grid-template-rows: repeat(4, 165px);
        }

        @include _720 {
            grid-template-columns: repeat(3, 140px);
            grid-template-rows: repeat(3, 140px);
        }

        @include _480 {
            grid-template-columns: repeat(3, 130px);
            grid-template-rows: repeat(3, 125px);
        }

        @include _400 {
            grid-template-columns: repeat(2, 165px);
            grid-template-rows: repeat(4, 165px);
        }

        @include _350 {
            grid-template-columns: repeat(2, 150px);
            grid-template-rows: repeat(4, 150px);
        }

    }

    &__extra-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        background: var(--linear-black);
        border: 1px solid rgba($color: #FFFFFF, $alpha: .5);
        border-radius: 22px;

        padding: 8px;

    }

    &__extra-card--m {
        grid-column-start: 1;
        grid-column-end: span 2
    }

    &__extra-card--s {
        grid-column-end: span 1;
    }

    &__extra-card-subtitle {
        width: 100%;
    }

    &__extra-card-subtitle-chart {
        width: 100%;
        height: 8px;
        background-image: var(--linear-blue-pink);
        border-radius: 22px;
        position: relative;
    }

    &__extra-card-subtitle-chart-point {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: none;
        background-color: var(--color-primary);
        left: 50%;
        top: calc(50% - 5px);
    }

    &__wind-bg {
        background-image: url(../img/main-page/WIND.png);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        display: flex;
        justify-content: center;

        background-size: 80px 80px;
        width: 80px;
        height: 80px;

    }

    &__wind-arrow img {
        width: 90px;
    }

    &__extra-card-subtitle--center {
        display: flex;
        justify-content: center;
    }

    &__wind-bg p {
        width: 50px;
        position: absolute;
        left: calc(50% - 25px);
        text-align: center;
    }

}

// city

.city {

    &__search {
        position: absolute;
        left: 100%;
        overflow: hidden;
        transition: left 0.5s ease-in-out;
        z-index: 999;
        width: 60%;

        @include _815 {
            width: 50%;
        }

        @include _720 {
            width: 100%;
        }

        @include _480 {
            width: 100%;
        }
    }

    &__background {
        background: var(--radial-bg-extra);
    }

    &__wrapper {
        width: 90%;
    }

    &__panel {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__panel-back-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__panel-back-btn img {
        margin-right: 20px;
    }

    &__search input {
        background-color: var(--linear-black);
        background-image: url(../img/main-page/search.png);
        background-repeat: no-repeat;
        background-position: 8px 50%;
        padding: 0 30px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.37) inset;
        height: 36px;
        width: 100%;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        justify-content: space-between;

        @include _815 {
            grid-template-columns: repeat(1, 100%);
        }

        @include _720 {
            grid-template-columns: repeat(2, 49%);
        }

        @include _480 {
            grid-template-columns: repeat(1, 100%);
        }
    }

    &__card {
        display: none;
        justify-content: space-between;
        align-items: end;
        background-image: url(../img/main-page/city-bg-card.png);
        // background-size: 100%, auto;
        // width: 100%;
        background-repeat: no-repeat;
        padding: 20px;
    }

    &__card--favorite {
        display: flex;
    }

    &__card-main-inf {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__card-add-inf {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    &__card-add-inf-img {
        width: 80px;
        height: 80px;
    }

    &__card-add-inf button img {
        width: 30px;
        height: 30px;
    }

    &__card-main-inf-bottom-s {
        display: flex;
        justify-content: space-between;
    }
}

#city__card-error-search {
    display: none;
    grid-column-end: span 2
}






// временно


.main {

    &__town-title {
        color: #fff;
        font-size: 3rem;
    }

    &__temp-title {
        color: #fff;
        font-size: 4rem;
    }
}