h1 {
  font-size: clamp(1.125rem, 0.9642857143rem + 0.7142857143vw, 1.5rem);
  color: var(--black-color);
}

h2 {
  font-size: clamp(1.5rem, 1.1785714286rem + 1.4285714286vw, 2.25rem);
  color: var(--white-color);
}

h3 {
  font-size: clamp(0.9375rem, 0.8571428571rem + 0.3571428571vw, 1.125rem);
  color: var(--black-color);
}

h4 {
  font-size: clamp(0.875rem, 0.8214285714rem + 0.2380952381vw, 1rem);
  color: var(--black-color);
}

h5 {
  font-size: clamp(0.8125rem, 0.7857142857rem + 0.119047619vw, 0.875rem);
  color: var(--white-color);
}

h6 {
  font-size: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);
  color: var(--black-color);
}

:root {
  --solid-purple: #48319D;
  --solid-dark-gray: #1F1D47;
  --solid-pink: #C427FB;
  --solid-gray: #E0D9FF;
  --linear-black: linear-gradient(#2E335A 0%, #1C1B33 100%);
  --linear-purple: linear-gradient(#5936B4 0%, #362A84 100%);
  --linear-blue-pink: linear-gradient(90deg, #3658B1 0%, #C159EC 100%);
  --linear-light-dark-blue: linear-gradient(180deg, rgba(174, 201, 255, 1) 0%, rgba(174, 201, 255, 1) 55%, rgba(8, 48, 114, 1) 55%);
  --linear-active-btn: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  --radial-bg-extra: radial-gradient(circle, rgba(69, 39, 139, 1) 0%, rgba(46, 51, 90, 1) 100%);
  --radial-pink: radial-gradient(#F7CBFD 0%, #7758D1 100%);
  --color-primary: #FFFFFF;
  --color-secondary: rgba(235, 235, 245, 0.6);
  --color-tertiary: rgba(235, 235, 245, 0.3);
  --color-quaternary: rgba(235, 235, 245, 0.18);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.all-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.main {
  z-index: 99;
}
.main__background {
  background-image: url(../img/main-page/main-bacground.png);
  background-repeat: no-repeat;
  background-size: 100vh, 48vw;
  width: 48.59vw;
  height: 100vh;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.main__house {
  margin-bottom: -3.7vh;
}
.main__house img {
  width: 29.27vw;
  height: 52.04vh;
}
.main__bar {
  background-image: url(../img/main-page/bg-bar.png);
  background-repeat: no-repeat;
  background-size: 29.27vw, 26.57vh;
  width: 29.27vw;
  height: 19.54vh;
  padding: 0 2.86vw 11.11vh 2.86vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar__plus {
  background-image: url(../img/main-page/bg-bar-plus.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 13.02vw;
  height: 11.57vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar__side img {
  width: 1.56vw;
  cursor: pointer;
}
.bar__plus img {
  cursor: pointer;
  margin-top: -1.85vh;
  width: 5.21vw;
  height: auto;
}

.forecast__wrapper {
  width: 51.41vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.forecast__future {
  background: var(--linear-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.forecast__future-background-img1 {
  z-index: 0;
  position: absolute;
  left: 25%;
}
.forecast__future-background-img2 {
  position: absolute;
  top: -75%;
  right: 50%;
}
.forecast__future-buttons {
  z-index: 2;
  margin-top: 2.78vh;
  width: 20.31vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.96vw;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
}
.forecast__future-btn {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  color: var(--color-secondary);
  padding-bottom: 2px;
  margin-bottom: -1px;
}
.forecast__future-btn--active {
  border-bottom: 3px solid;
  border-image: var(--linear-active-btn);
  border-image-slice: 1;
}
.forecast__future-cards {
  height: 45vh;
  width: 51.41vw;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.forecast__future-cards-hourly {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}
.forecast__future-card {
  margin: 0 1.11vw;
  width: 5.36vw;
  height: 22.3vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2.66vw;
  background-color: rgba(var(--solid-purple), 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.48vh 0;
}
.forecast__future-card--highlighted {
  background-color: var(--solid-purple);
}
.forecast__future-card-picture img {
  width: 3.33vw;
}
.forecast__extra {
  padding: 2.96vh 1.67vw;
  background: var(--radial-bg-extra);
  height: 100%;
}
.forecast__extra-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 11.54vw);
  grid-template-rows: repeat(2, 11.54vw);
  row-gap: 0.93vh;
  justify-content: space-between;
}
.forecast__extra-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  background: var(--linear-black);
  padding: 0.89vw;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 22px;
}
.forecast__extra-card--m {
  grid-column-start: 1;
  grid-column-end: span 2;
}
.forecast__extra-card--s {
  grid-column-end: span 1;
}
.forecast__extra-card-subtitle {
  width: 100%;
}
.forecast__extra-card-subtitle-chart {
  width: 100%;
  height: 0.7vh;
  background-image: var(--linear-blue-pink);
  border-radius: 22px;
  position: relative;
}
.forecast__extra-card-subtitle-chart-point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: none;
  background-color: var(--color-primary);
  left: 50%;
  top: calc(50% - 5px);
}
.forecast__wind-bg {
  background-image: url(../img/main-page/WIND.png);
  background-repeat: no-repeat;
  background-size: 6.94vw 6.94vw;
  width: 6.94vw;
  height: 6.94vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.forecast__wind-arrow img {
  width: 7.7vw;
}
.forecast__extra-card-subtitle--center {
  display: flex;
  justify-content: center;
}
.forecast__wind-bg p {
  width: 50px;
  position: absolute;
  left: calc(50% - 25px);
  text-align: center;
}

.main__town-title {
  color: #fff;
  font-size: 3rem;
}
.main__temp-title {
  color: #fff;
  font-size: 4rem;
}